*{
    box-sizing: border-box;
}

.header {
    background-color: blue;
    text-align: center;
    padding: 20px;
}

.topnav {
    overflow: hidden;
    background-color: black;
}

.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover {
    background-color: gray;
    color: black;
}

.footer {
    background-color: gray;
    text-align: center;
    padding: 10px;
}